.col-md-8 .row button {
  background: rgb(32 90 167);
  margin-left: 30px;
  color: white;
  height: 35px;
  font-size: 15px;
}
.col-md-8 li {
  list-style: disc;
} 
h5
{
  float: left;
  font-size: 17px;
}

.right_row button{
  background-color: rgb(91 189 43);
  color: white;
  height: 35px;
  border-radius: 10px;
}