.col-md-10 .row button {
  background: rgb(32 90 167);
  margin-left: 75px;
  margin-bottom: 50px;
  color: white;
  height: 40px;
}
.col-md-9 li {
  list-style: disc;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
td {
  height: 30px;
  padding-left: 20px;
}