<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/TV_thongketruyen.css">

    <title>trang mau</title>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" title="Trang chủ"><img src="images/logo1.png" alt="Logo"></a>
            </div>
            <div class="col-md-4 find">
                <div class="find-element">
                    <input type="text" name="keyword" placeholder="   Tìm kiếm" value="">
                    <button type="submit"></button>
                </div>
                <div class="filter-element">
                    <select name="mostLike" class="select">
                        <option disabled selected value>Tìm theo tên truyện</option>
                        <option value="tác giả">Tìm theo tên tác giả</option>
                        <option value="thể loại">Tìm theo thể loại truyện</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 user">

                    <div class="dropdown " style="float:right;margin-left: 20px;">
                        <div class="dropdown-toggle text-danger" data-toggle="dropdown">
                            <strong>tentaikhoan</strong>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item item" href="#">Thông tin tài khoản</a>
                            <a class="dropdown-item item" href="#">Nhóm</a>
                            <a class="dropdown-item item" href="#"></a>
                            <a class="dropdown-item item" href="">Đăng xuất</a>
                        </div>
                    </div>
                <a href="truyenyeuthich" title="Truyện yêu thích" class="heart">❤</a>

               
            </div>
        </div>
        <div class="row direct">
            <ul>
                <li><a href="">Truyện mới</a></li>
                <li><a href="">Thể loại</a></li>
                <li><a href="">Nhóm dịch</a></li>
                <li><a href="">Tác giả</a></li>
                <li><a href="">Năm</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="main container">
    <div class="navigator">
        <div class="row">
            <div class="col-md-7">
                <h5><a href="#">Trang chủ/</a><a href="#"> Nhóm/</a><a href="#"> Thống kê truyện</a></h5>
            </div>

        </div>

    </div>
     <h6>Danh sách truyện</h6>
    <div class="row root-view">
         
<div class="col-md-1">

    </div>
    <div class="col-md-10 view-comics" style="margin-top: 30px;">
        <table style="width:100%">
  <tr style="text-align: center;">
    <th>Tên truyện</th>
    <th>Thời gian</th> 
    <th>Chap mới nhất</th>
    <th>Lượt xem</th>
    <th>Đánh giá</th>
  </tr>
  <tr>
    <td>Doraemon</td>
    <td>1 giờ trước</td>
    <td>50</td>
    <td>5000</td>
    <td>4.5</td>
  </tr>
  <tr>
    <td>Conan</td>
    <td>20 giờ trước</td>
    <td>56</td>
    <td>9000</td>
    <td>4.7</td>
  </tr>
  <tr>
    <td>Doraemon</td>
    <td>1 giờ trước</td>
    <td>50</td>
    <td>5000</td>
    <td>4.5</td>
  </tr>
  <tr>
    <td>Conan</td>
    <td>20 giờ trước</td>
    <td>56</td>
    <td>9000</td>
    <td>4.7</td>
  </tr>
   <tr>
    <td>Doraemon</td>
    <td>1 giờ trước</td>
    <td>50</td>
    <td>5000</td>
    <td>4.5</td>
  </tr>
  <tr>
    <td>Conan</td>
    <td>20 giờ trước</td>
    <td>56</td>
    <td>9000</td>
    <td>4.7</td>
  </tr>
   <tr>
    <td>Doraemon</td>
    <td>1 giờ trước</td>
    <td>50</td>
    <td>5000</td>
    <td>4.5</td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>

</table>

    </div>
    <div class="col-md-1">

    </div>
   

</div>

</div>



<footer class="main container" style="background-color: green">
    Copyright © 2019 by ANH_EM_AN_HAI_TEAM
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</footer>
</body>
</html>
<style media="screen">


</style>
